* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #b6ddda;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #262a2a;
    color: #ffffff;
}

.header h1 {
    
    display: inline-block;
    font-size: 50px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.img-stone {
    height: 200px;
    width: 100%;
    background-image: url(./images/stonewall.jpg);
    background-size: cover;
    background-position: center;
}

.column h3 {
    float: left;
    width: 30%;
    font-size: 40px;
    border-right: solid;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
.work-img {
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    border-radius: 50px;
}

.contact-info li {
    display: inline;
}